creds.sh
creds2.sh
.terraform*
terraform.tfstate
terraform.tfstate.backup
tmp/
/.idea/
FrontEnd/react-web-app/node_modules/
FrontEnd/react-web-app/build/
FrontEnd/react-web-app/src/__snapshots__/
C:/Users/Giacomo/IdeaProjects/majorproject-7-tues-14-30-7/BackEnd/spring-boot-api/src/main/resources/data
